* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(36, 48, 47, 0.516), rgba(45, 69, 188, 0.226)), url(images/pic.jpg);
    background-size: cover;
    position: relative;
    
}

.back {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    text-align: left;

}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

nav img {
    width: 100px;
    height: auto;

}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;


}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;

}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #43f436;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}


.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.text-box h1 {
    font-size: 50px;
    text-align: left;
    color: #fff;

}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;

}

.hero-btn {

    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 12px 34px;
    font-size: 13px;
    background: rgba(139, 132, 132, 0.283);
    position: relative;
    cursor: pointer;
    float: left;
    margin-top: 40px;

}

.hero-btn:hover {
    border: 1px solid #43f436;
    background: #43f436;
    transition: 1s;
}

nav .fa {
    display: none;
}


@media(max-width:700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;

    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;

    }
}

/*---------treatment-------*/
.treatment {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

h1 {
    font-size: 36px;
    font-weight: 600;

}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}


.row {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}

.treat-1 {
    flex-basis: 31%;
    background:#f4fff3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}
.treat-2 {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}
.treat-3 {
    flex-basis: 31%;
    background: #fefff3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}
h3 {
    text-align: center;
    font-size: 600;
    margin: 10px 0;
}

.treat-1:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}
.treat-2:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}
.treat-3:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

@media(max-width:700px) {
    .row {
        flex-direction: column;
    }
}

/*------facilities-------------*/
.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;

}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;

}

.facilities-col:hover img {
    transform: scale(1.1);
}

.facilities-col p {
    padding: 0;

}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
}

/*------feedback----------*/
.feedback {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 100px;

}

.feedback-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}


.feedback-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
}

.feedback-col p {
    padding: 0;

}

.feedback-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
}

/*footer*/
.footer {
    background-color: #0000000a;
    width: 100%;
    text-align: center;
    padding: 30px 0;

}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icon .fa {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;

}

.fa-heart-o {
    color: #f44336;
}

/*`````````````ABOUT US``````````*/
.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(2, 11, 47, 0.473),rgba(12, 14, 24, 0.404)),url(images/theme.jpg);
    background-position: center bottom;
    background-size: cover;
    text-align: center;
    color: #fff;

}

.sub-header h1 {
    margin-top: 20px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;

}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;

}
.about-col img{
    width: 100%;

}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}
.red-btn{
    border: 1px solid #f44336 ;
    background: transparent;
    color: #f44336;
}
/*Contact Us */
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;

}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;

}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;

}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin-right: 30px;
    margin: 10px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}